<footer>
  <div class="bg-dark pt-5 pb-5 container-fluid">
    <div class="row">
      <div class="col-sm-6 color-white text-center">
        <div class="color-yellow">Cat-O-Meter was created by Figlet Studios</div>
        <div>Last updated Feb. 2018</div>
      </div>
      <div class="col-sm-6 color-white text-center">
        <div class="color-yellow">Questions or comments?</div>
        <div>Send us a message at figletstudios@gmail.com</div>
      </div>
    </div>
  </div>
</footer>