<%= stylesheet_link_tag 'home' %>

<div class="hero-image">
  <div class="hero-content">
    <div class="hero-title">
      <h1 class="text-shadow-light">Cat-o-Meter</h1>
      <p class="text-shadow-light">Rate the cutest cats on the internet.</p>
    </div>
    <div class="hero-cta">
      <button class="btn btn-primary medium-hover-shadow" id="main-cta">Rate Cats Now!</button>
    </div>
  </div>
</div>
<div class="divider-bar text-xl">
  Think your cat is cute?
  <%= link_to "Sign up now", new_user_registration_path %>
  to upload a picture!
</div>
<div class="container-fluid" id="rating-area">
  <div class="row margin-bottom-4rem margin-top-2rem" >
    <div class="col-sm-12 text-center text-shadow-light text-xxl color-orange margin-bottom-1rem ucase">Rate Cats</div>
    <div class="col-sm-7 vote-img-wrapper text-center">
      <%= image_tag 'cat1.jpeg', class: "img img-fluid img-thumbnail", alt: "cat picture" %>
    </div>
    <div class="col-sm-5 text-center">
      <%= render partial: 'rating_widget' %>
      <div class=" selection-box margin-top-2rem">
        <h3 class="text-center text-xl text-shadow-light color-purple">ABOUT</h3>
        <hr>
        <div class="bio-wrapper text-left">
          <p class="text-medium">
            <strong>Name:</strong>
            Fluffy</p>
          <p class="text-medium">
            <strong>Age:</strong>
            3</p>
          <p class="text-medium">
            <strong>Breed:</strong>
            Kitty cat</p>
          <p class="text-medium">
            <strong>Bio:</strong>
            This cat is a real piece of shit.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript  do %>
  <script>
    $(document).ready(function () {
      $("#main-cta").click(function() {
        $('html, body').animate({ scrollTop: $('#rating-area').offset().top-40 }, 'slow');
      });
    });
  </script>
<% end %>