.flex-container {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-direction: row;
  flex-direction:         row;
  justify-content: flex-start;
}

.flex-item {
  padding: 10px;
  flex: 1 1 auto;
}

input[type="file"] {
    display: none;
}

.file-upload-button {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #851be8;
  color: white;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  &:hover {
    background-color: darken(#851be8, 15%);
  }
}

.cat-img-preview {
  max-width: 180px;
}


@media(min-width: 800px) {
  .flex-container {
      width: 80%;
  }
}
