.color-orange { color: #F05F40; }
.color-purple { color: #851be8; }
.color-white  { color: #FFF; }
.color-yellow { color: #dddd33; }

.reqd { color: #BB3333; }
.text-small   { font-size: 0.667rem  !important; }
.text-base    { font-size: 1rem      !important; }
.text-medium  { font-size: 1.25rem   !important; }
.text-large   { font-size: 1.5rem    !important; }
.text-xl      { font-size: 2.25rem   !important; }
.text-xxl     { font-size: 3.375rem  !important; }
.text-huge    { font-size: 5.063rem  !important; }
.text-heavy   { font-weight: 400 !important; }
.text-heavier { font-weight: 600 !important; }

.ucase { text-transform: uppercase; }

.absolute-centered {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
}

.medium-hover-shadow {
  -webkit-box-shadow: 0px 2px 3px 0px rgba(150,150,150,.6);
  -moz-box-shadow: 0px 2px 3px 0px rgba(150,150,150,.6);
  box-shadow: 0px 2px 3px 0px rgba(150,150,150,.6);
  transition: .3s ease-in-out;
  &:hover {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(75,75,75,1);
    -moz-box-shadow: 0px 2px 10px 0px rgba(75,75,75,1);
    box-shadow: 0px 2px 10px 0px rgba(75,75,75,1);
  }
}

.light-hover-shadow {
  border: 1px solid rgba(205,205,205,.85);
  -webkit-box-shadow: 1px solid rgba(175,175,175,.3);
  -moz-box-shadow: 1px solid rgba(175,175,175,.3);
  box-shadow: 1px 0px 10px 1px rgba(175,175,175,.3);
  transition: .3s ease-in-out;
  &:hover {
    border: 1px solid rgba(150,150,205,.6);
    -webkit-box-shadow: 1px 0px 10px 1px rgba(100,100,100,.5);
    -moz-box-shadow: 1px 0px 10px 1px rgba(100,100,100,.5);
    box-shadow: 1px 0px 10px 1px rgba(100,100,100,.5);
  }
}

@for $i from 1 through 8 {
  .margin-bottom-#{$i}rem { margin-bottom: #{$i}rem !important; }
  .margin-top-#{$i}rem { margin-top: #{$i}rem !important; }
  .margin-left-#{$i}rem { margin-left: #{$i}rem !important; }
  .margin-right-#{$i}rem { margin-right: #{$i}rem !important; }
  .margin-#{$i}rem { margin: #{$i}rem !important; }

  .padding-bottom-#{$i}rem { padding-bottom: #{$i}rem !important; }
  .padding-top-#{$i}rem { padding-top: #{$i}rem !important; }
  .padding-left-#{$i}rem { padding-left: #{$i}rem !important; }
  .padding-right-#{$i}rem { padding-right: #{$i}rem !important; }
  .padding-#{$i}rem { padding-right: #{$i}rem !important; }
}

.text-shadow-light {
  text-shadow: 1px 1px 5px rgba(38, 38, 38, 1);
}

.user-form {
  margin-top: 5% !important;
  .form-control {
    max-width: 80%;
    margin: auto;
  }
  .selection-box {
    margin: auto !important;
  }
}
.user-form-header {
  text-transform: uppercase;
  font-size: 2em;
}

.selection-box {
  margin: auto;
  max-width: 95%;
  padding: 1rem;
  background-color: #FFF;
  border: 1px solid rgba(150,150,250,.7);
  border-radius: 5px;
  text-align: center;
  transition: .1s ease-in-out;
}

.btn-50 {
  min-width: 50%;
}

.text-weight-heavy {
    font-weight: 500;
}

#error_explanation {
  h2 {
    font-size: 1.2em;
  }
  li {
    color: #BB3333;
  }
}
.field_with_errors {
  input {
    border: 1px solid #BB3333;
  }
}
