#rating-area {
  height: 100%;
}

.hero-image {
    background: image-url("catometerhome3.png");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-content {
  text-align: center;
  .hero-title {
    width: 100%;
    padding: 1em;
    background: rgba(50,50,50, .6);
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    h1 {
      font-size: 6em;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: #F05F40;
    }
    p {
      color: white;
      font-size: 2em;
    }
  }
  .hero-cta {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 0%);
    button {
      font-size: 2.5em;
      border: 1px solid gray;
    }
  }
}

.divider-bar {
  text-align: center;
  width: 100%;
  padding: 1.5em 1em;
  border-top: 2px solid #cfac42;
  border-bottom: 2px solid #cfac42;
  background-color: #851be8;
  color: white;
  a {
    color: #cfac42;
  }
}

.vote-img-wrapper {
  img {
    max-height: 75vh !important;
    min-width: 60%;
  }
}

.rating-box {
  width: 100%;
}

.rating-stars ul {
  list-style-type: none;
  padding: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.rating-stars ul > li.star {
  display: inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size: 1.2em;
  color: #ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}

@media(max-width: 1200px){
  .rating-stars ul > li.star > i.fa {
    font-size: 1.0em !important;
    margin: 0;
  }
}

@media(max-width: 768px) {
  .hero-image {
      background: image-url("catometerhome4.png") !important;
      height: 1200px !important;
  }
  .hero-content {
    .hero-title {
      h1 {
        font-size: 3em;
      }
    }
  }
}
