<%= stylesheet_link_tag 'cat' %>
<div class="container-fluid">
  <div class="text-center">
    <div class="mb-2 color-orange text-xl">Edit Cat Profile</div>
    <% if @cats.count == 0 %>
      <div class="reqd">
        You haven't added a cat yet!
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div id="cat-form-wrapper" class="flex-container cat-info">
        <%= render partial: 'cat_form' %>
      </div>
    </div>
  </div>
  <div class="text-center mb-3">
    <!-- <button id="add-cat-btn" class="btn btn-success btn-50 mt-3"><i class="fa fa-plus-circle"></i> Add Cat</button> -->
  </div>
</div>
